.counterContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .header {
        width: 80%;
        height: 70px;
        background-color: rgba(75, 76, 87, 0.389);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        border-radius: 12px;
        .button {
            width: 120px;
            height: 30px;
            border-radius: 10px;
            border: 1px solid rgb(198, 184, 184);
            background: rgb(5, 247, 5);
            transition: 5s;
            &:hover {
                transition: 1s;
                transform:scale(2);
                background: rgba(255, 128, 0, 0.384);
            }
        }
    }
    .home {
        width: 100%;
        text-align: center;
        .span {
            font-size: 30px;
        }
        .parent {
            width: 80%;
            background: red;
            height: 500px;
        }
    }
    
}